html {
    height: 99%;
}

body {
    padding-top: 3.5%;
    background-color: aliceblue;
    width: 100%;
}

#wrap {
    min-height: 100%;
}

#main {
    overflow: auto;
    padding-bottom: 73px;
}

.paginaPrincipal {
    padding-top: 5%;
    margin: 0;
}

#conteudo {
    background-color: #ffffff;
    padding-bottom: 2%;
}

.formularios {
    margin-top: 10%;
    background-color: #ffffff;
    padding-bottom: 2%;
} 

.btn-novo {
    padding-bottom: 1.5%;
    padding-top: 2%;
}

footer {
    position: relative;
    margin-top: -9px;
    height: 50px;
    clear: both;
    padding-top: 1%;
    color: #fff;
}
/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

.radioGroupBelow label {
    display: inline-block;
    text-align: center;
    margin: 0 0.2em;
}

    .radioGroupBelow label input[type="radio"] {
        display: block;
        margin: 0.5em auto;
    }

[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x- ng-cloak {
    display: none !important;
}
